.sidebar{

    position:fixed;

    top:0;
    left:0;

    width:240px;

    height:100vh;

    background:#111827;

    padding:25px;

    box-sizing:border-box;

}


.logo{

    color:white;

    font-size:24px;

    margin-bottom:40px;

}



.sidebar nav{

    display:flex;

    flex-direction:column;

    gap:15px;

}



.sidebar a{

    color:#d1d5db;

    text-decoration:none;

    padding:12px 15px;

    border-radius:10px;

    font-size:16px;

    transition:.3s;

}



.sidebar a:hover{

    background:#2563eb;

    color:white;

}